In [1]:
## task1 
# create a list named multi_data having multiple items including number and string
# divide created multi_data list in two different lists based on item available inside multi_data list
multi_data =["hello",12,"niranjan","hii",2,3,23,324,"go"]
for i in multi_data:
    if i ==str:
        
        print(i)

In [4]:
lit = [1,2,3,4,5]
lit1 = ["hello","hii"]
lit.extend(lit1) 
print(lit)

[1, 2, 3, 4, 5, 'hello', 'hii']

In [9]:
x = "my name is niranjan kumar"
x.split()

['my', 'name', 'is', 'niranjan', 'kumar']

In [14]:
def fun(num):
    try:
        r = 1/num
        except:
            print('exception raise')
            return r
        print(fun(10))
        print(fun(0))

SyntaxError: invalid syntax (<ipython-input-14-8821cbc31b7f>, line 4)

In [4]:
## task 2 create a function named create_info_dict() hving arbitrary keyword argument
## function create_info_dict() should return a dictionary
#create_info_dict("hello","hii","going")
class cal():
    def create_info_dict(self,*args):
        print(args)
obj = cal()
obj.create_info_dict('hello','hii',5)

('hello', 'hii', 5)

In [1]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

kwargs = {"arg1" : "Geeks", "arg2" : "for", "arg3" : "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
arg1: Geeks
arg2: for
arg3: Geeks

In [20]:
##task3 
# create a list,tuple and dictionary having multiple item
# print list tuple, tuple and dictionary without for loop and withou slicing

list = ["hello",12,"hii","name",12,]
tuple = ("hii",12,13,"hello")
dictionary = {"hii":12}

In [11]:
print(*
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333list)

TypeError: print() argument after * must be an iterable, not type

In [6]:




list = (1)


print(type(list))

<class 'int'>

In [23]:
print(dictionary)

{'hii': 12}

In [24]:
print(list)
print(tuple)
print(dictionary)

['hello', 12, 'hii', 'name', 12]
('hii', 12, 13, 'hello')
{'hii': 12}

In [18]:
#  task 4
# create a class named calculator having a constructor having a print statement to display your name
# create method name add having an arbitrary arguments list inside calculator class passed arguments
#hint: use for loop
class calculator():
    def __init__(self):
        print('niranjan')
    def add(a,b):
        c = a+b
        return c

In [19]:
add   = calculator()

niranjan

In [13]:
## task 5 create a lambda function to multiply  3 number
x = lambda a,b,c:a*b*c;

print(x(3,2,3))

18

In [38]:
count_word = input("Enter string: ")
wd = 0
for i in count_word:
    if (i==' '):
        print(i)
        wd+=1
print(wd)

Enter string: hello my name is niranjan




4

In [44]:
def inc(x):
    print(x)
    if x < 20:
        x += 1
        inc(x)

In [45]:
inc(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [11]:
class god():
    def __init__(self,name,roll):
        self.name = 'name'
        self.roll = 'roll'
p1 = god('hello',12345)
print(p1.name)
print(p1.roll)

name
roll

In [14]:
## fabonicci sequence

def faboncii(n):
    a = 0
    b = 1
    
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        
        
        for i in range(2,n):
            c= a+b
            a = b
            b = c
                
            print(c)

In [14]:
faboncii(10)

0
1
1
2
3
5
8
13
21
34

In [17]:
## polidrome number ex_   MADAM reverse MADAM 121--121 it is palidrome
s = input("enter the value")
reverse = s[::-1]
if (s == reverse):
    print("It is palidrome")
else:
    print("It is not palidrome")

enter the value121
It is palidrome

In [17]:
s = input("enter any value")
reverse = s[::-1]
if (s==reverse):
    print("it is pallidrome no")
else:
    print("it is not pallidrome no")

enter any value121
it is pallidrome no

In [18]:
## Enumerator function    function adds and  counter  enumerate object.
x = ['apple','mango','banana']
y = enumerate(x)
print(list(y))

[(0, 'apple'), (1, 'mango'), (2, 'banana')]

In [21]:
enum = ["hello","hii","god"]
y = enumerate(enum)
print(list(y))

[(0, 'hello'), (1, 'hii'), (2, 'god')]

In [24]:
x = ["hello","hiii","helloq","hhfsdf"]
y = enumerate(x)
print(list(y))

[(0, 'hello'), (1, 'hiii'), (2, 'helloq'), (3, 'hhfsdf')]

In [6]:
## Check prime or not prime
num = int(input("Enter any number")) ## num = 10

for i in range(2,num):
    if (num%i) ==0:
        print("Not prime")
        
    else:
        print(" prime")

Enter any number4
Not prime
 prime

In [36]:
num = int(input("any number"))
for i in range(2,num):
    if (num%i)==0:
        print("not prime")
    else:
        print("prime")

any number3
prime

In [32]:
## convert number into string
n =25
print(type(n))
convert = str(n)
print(type(convert))
print(convert)

<class 'int'>
<class 'str'>
25

In [166]:
### how to convert object into list
letter = ["A","B","C"]
map_object = map(str.lower,letter)
convert_list = list(map_object)
print(convert_list)

TypeError: 'list' object is not callable

In [33]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [52]:
for i in range(-10,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [ ]:
###  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    list area ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,........................................///////////////////////////////////




Lists are used to store multiple items in a single variable.[]
Lists are created using square brackets:[]
## 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
## Acess list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [3]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [18]:
## Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [42]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:5])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[4:])

['kiwi', 'melon', 'mango']

In [7]:
## Range of Negative Indexes

## This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [45]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [61]:
## Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [10]:
## Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [49]:
lo = ["123","hello","hii",123]
lo.insert(3,"hello")
print(lo)

['123', 'hello', 'hii', 'hello', 123]

In [22]:
##  Extend()
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [12]:
## Remove() "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [63]:
## Pop()
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)
print(thislist)

['apple', 'banana']

In [38]:
## DEl()
thislist = ["apple", "banana", "cherry"]
del thislist[1]
print(thislist)

['apple', 'cherry']

In [81]:
## list comperhension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [42]:
## Sort()
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [44]:
li = [9,4,7,2,4,3,90,65,4,0]
li.sort()
print(li)

[0, 2, 3, 4, 4, 4, 7, 9, 65, 90]

In [43]:
## Reverse()
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [48]:
lg = ["hello",23,45,"ho",12]
lg.reverse()
print(lg)

[12, 'ho', 45, 23, 'hello']

In [21]:
## Copy()
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [22]:
mylist

['apple', 'banana', 'cherry']

In [23]:
## Join()
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [58]:
## Count()
fruits = ['apple', 'banana', 'cherry','cherry']

x = fruits.count("cherry")

In [28]:
x

2

In [ ]:
## Tuple ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,>>>>>>>>>>
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuples are written with round brackets.()

count() method
Index()  ''

In [43]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [29]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [80]:
thistuple = (1, 3, 7, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

7

In [31]:
##Access Tuple Items
#You can access tuple items by referring to the index number, inside square brackets:

#Example
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [32]:
## Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [33]:
## Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [34]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [35]:
## Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [36]:
y

['apple', 'banana', 'cherry', 'orange']

In [40]:
## Print all items, using a For loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print([i])

[0]
[1]
[2]

In [41]:
## Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [42]:
## Multiply the fruits tuple by 2:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  String >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
## Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:
    
    string method
    
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()

In [96]:
# Multiline Strings
## You can assign a multiline string to a variable by using three quotes:

#Example
# You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [97]:
## Or three single quotes:

## Example
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [98]:
## Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [100]:
## Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [101]:
## Check if NOT
#To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

#Example
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [102]:
## Using slice
## Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [103]:
## Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [104]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [106]:
## he upper() method 

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [66]:
## The lower()

a = "HELLO!"
print(a.lower())

hello!

In [70]:
## The strip() method removes any whitespace from the beginning or the end:

a = "Hello,World!"
print(a.strip()) # returns "Hello, World!"

Hello,World!

In [109]:
## The replace() method 

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [111]:
## The split() method splits the string into substrings 

a = "Hello, World!"
print(a.split()) # returns ['Hello', ' World!']

['Hello,', 'World!']

In [112]:
## Formate
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
## <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   Set  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Sets are used to store multiple items in a single variable.
Set items are unordered, unchangeable, and do not allow duplicate values.

Sets are written with curly brackets.{}

In [47]:
## Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [48]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [50]:
set1

{'apple', 'banana', 'cherry'}

In [51]:
## Access in set item
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [52]:
## Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [53]:
## Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'banana', 'apple', 'mango', 'pineapple'}

In [54]:
## Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [55]:
## Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [56]:
## The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'c', 'a'}

In [57]:
## The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'c', 'a'}

In [ ]:
##<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Dictionary  ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<




Dictionaries are used to store data values in key:value pairs.
    Duplicates Not Allowed
Dictionaries are written with curly brackets

clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [60]:
## Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets:

#Example
#Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [61]:
x

'Mustang'

In [62]:
## Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [68]:
## Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [64]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [65]:
## Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [66]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [67]:
## Adding Items

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [67]:
## The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [70]:
## Print all key names in the dictionary, one by one:  using for loop

for x in thisdict:
  print(x)

brand
year

In [71]:
## You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
  print(x)

Ford
1964

In [72]:
for x in thisdict.keys():
  print(x)

brand
year

In [73]:
## Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

brand Ford
year 1964

In [76]:
## Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
## Nested Dictionaries
## Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  conditional statement >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [ ]:
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< if...... elif,,,,, else

In [79]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [80]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [61]:
###<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    Function    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   calling function  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function
In Python a function is defined using the def keyword:

Example
def my_function():
  print("Hello from a function")

SyntaxError: invalid syntax (<ipython-input-61-8df03384af99>, line 3)

In [81]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
## Arbitrary Arguments, *args


If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

Example
If the number of arguments is unknown, add a * before the parameter name:

In [84]:
def my_function(*kids):
  print("The youngest child is " + kids[2]) 

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
## Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

Example
If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [85]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
### OOP class and objects <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [60]:
## The __init__() Function  and self

#Example
# Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name,p1.age)

John 36

In [93]:
## Insert a function that prints a greeting, and execute it on the p1 object:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
### Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

Example
Return an iterator from a tuple, and print each value:

In [95]:

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [102]:
num = 108
if num%2 == 0:
    print("it is even number")
else:
    print(" its odd number")

it is even number

In [18]:
num = int(input("enter any number"))
if num%2 ==0:
    print("even no")
else:
        print("odd")

enter any number6
even no

In [110]:
num = int(input("enter any nuber"))

for i in range(2,num):
    if (num%i) == 0:
        print("prime not number")
    else:
        print(" prime num")

enter any nuber12
prime not number
prime not number
prime not number
 prime num
prime not number
 prime num
 prime num
 prime num
 prime num
 prime num

In [14]:
enum = ["apple","mango","hello"]                              ##  important
enum1 =  enumerate(enum)
print(list(enum1))

[(0, 'apple'), (1, 'mango'), (2, 'hello')]

In [28]:
## pallidrome nurse                                                 important
pal = input("enter any num")
reverse = pal[::-1]

if (pal==reverse):
    print("pallidrome")
else:
    print("not pallidrome")

enter any nummadam
pallidrome

In [63]:
def name():
    print("hello")

In [65]:
name()

hello

In [79]:
li = ["hello","name","jhfguy4w"]              ## list comperhension
newlist = []
for x in li:
    if "o" in x:
        newlist.append(x)
    print(newlist)

['hello']
['hello']
['hello']

In [86]:
fruits = ["apple","mango","cherry","anan","mmfnsjzfshfuahefsehijdfnewfniranjan"]
newlist = []
for x in fruits:
 if "n" in x:
        newlist.append(x)
print(newlist)

['mango', 'anan', 'mmfnsjzfshfuahefsehijdfnewfniranjan']

In [27]:
num = int(input("enter any number"))    ## factorial  important
factorial = 1

for i in range(1,num+1):
        factorial = factorial*i
        print(factorial)

enter any number3
1
2
6

In [12]:
num = int(input("Enter a number: "))                                          ##  important factorial
factorial = 1   
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 12
The factorial of 12 is 479001600

In [3]:
## How to convert object to list  (using map())                                  important
letter_list = ["A", "B", "C"]

map_object = map(str.lower, letter_list)



converted_list = list(map_object)



print(converted_list)

['a', 'b', 'c']

In [12]:
### <<<<<<<<<<<<<<<<<,Filter() >>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<                  important
list1 = [1,2,3,4,5,6,7,8,9,12]
def greater(num):
    return num>5
greater  = list(filter(greater,list1))
print(greater)

[6, 7, 8, 9, 12]

In [36]:
## Reduce() use lambda   important
from functools import reduce
list1 = [1,2,3,4,5]
num = reduce(lambda a,b: a*b,list1)
print(num)

120

In [113]:
###  zip()                                                                          important

name = ["niranjan","kapil","java"]
age = [30,12,34,56]
zipped = list(zip(name,age))
print(zipped)

[('niranjan', 30), ('kapil', 12), ('java', 34)]

In [38]:
### split         it means seperator                                                                      important
name = "my name is niranjan"
name.split()

['my', 'name', 'is', 'niranjan']

In [50]:
### join   ()                                                              important
name = ["niranjan","kumar"]
print("".join(name))

niranjankumar

In [35]:
dc = [12,2,34,56,78]
cd = [23,45,67,78,12]
vd = tuple(zip(dc,cd))
print(vd)

((12, 23), (2, 45), (34, 67), (56, 78), (78, 12))

In [68]:
## formate()                                                                       important
name = "my name is {0} and my age is {1} "
print(name.format("niranjan",23))

my name is niranjan and my age is 23

In [75]:
## decorator                                                                         important
def function1():
    print("hello kaise ho ")
func2 = function1
## del function1
func2()

hello kaise ho

In [16]:
### Pandas and numpy                                                         important
import pandas as pd
import numpy as np
dict1 = {
    'name':["niranjan","kumar","verma"],
    'age':[34,34,56],
    'roll':[1234,1235,456]
}
x = pd.DataFrame(dict1)
print(x)

       name  age  roll
0  niranjan   34  1234
1     kumar   34  1235
2     verma   56   456

In [17]:
x.to_csv("friends")

In [18]:
x.head(2)

       name  age  roll
0  niranjan   34  1234
1     kumar   34  1235

In [10]:
                                                                         ##Important
import calendar                        
yy = 2021
mm = 10
print(calendar. month(yy,mm))

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [12]:
## Datatime 
import datetime 

print(datetime.datetime.now())

2021-10-19 09:14:39.826010

In [109]:
## all key word print python                                                               Important
import keyword
keywords = keyword.kwlist
for key in keywords:
    print(key)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [147]:
## ternary operator in python                                               Important
a, b = 10, 20
 
# Copy value of a in min if a < b else copy b
min = a if a < b else b
 
print(min)

10

In [154]:
## document string                                                                    Important  very very
def function(a,b):
    """ this is functions which will sum of  two number"""
    sum = a+b
    return sum
v = function(5,7)
print(v)
print(function.__doc__)

12
 this is functions which will calculate average two number

In [157]:
## Raise exception
a= input("what is your name: ")
if a.isnumeric():
    raise Exception("Number are not allowed")

what is your name: hhh

In [169]:
### pickling  and unpickling                                                     very very  important
import pickle
cars = ["bmw","audi","maruti"]
file = "mycar.pkl"
fileobj = open(file,'wb')
pickle.dump(cars,fileobj)
fileobj.close()

In [170]:
## unpickling                                    important
file = "mycar.pkl"
fileobj = open(file,'rb')
mycar = pickle.load(fileobj)
print(mycar)

['bmw', 'audi', 'maruti']

In [48]:
### monkey patching   run time modefications
import monk
def fun1():
    print("hello dear")
obj = monk.a()
obj.fun = fun1()
obj.fun()

ModuleNotFoundError: No module named 'monk'

In [45]:
##  Difference between Generator and iterator
def generator():
    for i in range(6):
        yield i+1
        t= generator()
        
        for i in t:
            print(i)

In [41]:
def mygenerator(n):
    for i in mygenerator(10):
        print(i)

In [12]:
## iterator
num  = "hello"
for i in num:
    print(i)

h
e
l
l
o

In [28]:
## self keyword

class Student:
    
    def printdetail(self):
        self.name = "name"
        self.salary = "salary"
        self.role = "role"
Niranjan = Student()
Niranjan.name = "Niranjan"
Niranjan.salary = 1233
Niranjan.role = "developer"

print(Niranjan.name)
print(Niranjan.salary)
print(Niranjan.role)

Niranjan
1233
developer

In [52]:
### __init__ method
class Student:
    def __init__(self,name,salary,role):
        self.name = name
        self.salary = salary
        self.role = role
        
    
  ##  def printdetail(self):
    #    return f"name is {self.name}.salary is {self.salary} and role is {self.role}"
Niranjan = Student("Niranjan",1234,"software")


print(Niranjan.name)
print(Niranjan.salary)
print(Niranjan.role)

Niranjan
1234
software

In [77]:
## * args and **kwargs
def funargs(*args):
    for item in args:
        print(item)
har = ["niranjan","rohan"]
funargs(*har)

niranjan
rohan

In [73]:
## **kwargs

def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

kwargs = {"arg1" : "Geeks", "arg2" : "for", "arg3" : "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
arg1: Geeks
arg2: for
arg3: Geeks

In [32]:
def generator():
    for i in range(6):
        yield i+1
        t= generator
        
        for i in t:
            print(i)

In [15]:
## JSON
import json
data = '{"name":"Niranjan","name1":"kumar"}'
hello = json.loads(data)  ## json.dumps
print(hello)

{'name': 'Niranjan', 'name1': 'kumar'}

In [29]:
from functools import reduce
li = [1,2,3,4,6]
x = reduce(lambda a,b:a+b,li);
print(x)

16

In [51]:
x=['a','b','c','d','e',{"Hello":123}]

y=str(x[5].keys())
print(y[12:17])

Hello

In [52]:
x=['a','b','c','d','e',{"Hello"}]
print(x[-1])

{'Hello'}

In [53]:
x = {"a":1, "b":2, "c":3,"d":[1,2,3,4,(5,6,7,{"e":5})]}
     
print(x["d"][-1][-1]['e'])

5

In [15]:
l1 = ["hello","hii","hello"]
print(len(l1))

3

In [2]:
import pandas
dict1 = {
    "name":["Niranjan","raju","baju"],
    "roll":[1234,456,345],
    "id":[1,3,5]
}
dc = pandas.DataFrame(dict1)
print(dc)

       name  roll  id
0  Niranjan  1234   1
1      raju   456   3
2      baju   345   5

In [4]:
num = int(input("enter any number"))
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    print(factorial)

enter any number4
1
2
6
24

In [13]:
num = int(input("enter any number"))
factorial = 1
for i in range(2,num+1):
    factorial = factorial*i
    print(factorial)

enter any number6
2
6
24
120
720

In [21]:
num=2
num =10
for i in range(2,num):    
        if (num%i) == 0:
      
            print(num,"not prime no")
        
     
else:
            print(num," prime number")

2  prime number

In [16]:
lower = 1
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [29]:
a = 10
print(type(a))
y = str(a)
print(type(y))
print(y)

<class 'int'>
<class 'str'>
10

In [31]:
l1 = [2,3,56,77,"hello"]
print(list(enumerate(l1)))

[(0, 2), (1, 3), (2, 56), (3, 77), (4, 'hello')]

In [4]:
class Employee:
    def __init__(self,name,empid):
        self.name=name
        self.empid=emp
obj=Employee()
obj.Employee("karan",12)

TypeError: __init__() missing 2 required positional arguments: 'name' and 'empid'

In [26]:
class employee:
    def __init__(self,name,age):
        self.name = name
        self.age = age

n = employee("niranjan",22)
print(n.name,n.age)

niranjan 22

In [25]:
class employee:
    def hello(self):
        self.name = "name"
        self.age = "age"
n = employee()
n.name = "niranjan"
n.age = 34
print(n.name,n.age)

niranjan 34

In [8]:
cap = "niranjan"
print(cap.capitalize())

Niranjan

In [6]:
class A():
    print("hello")
class B(A):
   print("hii")
obj.B()
obj(B)

hello
hii

AttributeError: 'B' object has no attribute 'B'

In [41]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
n = 5

for i in range(n):
    # internal loop run for n - i times
    for j in range(n - i):
        print('*', end='')
    print()

*****
****
***
**
*

In [9]:
 num = int(input("Enter a number: "))  
sum = 0  
temp = num  
  
while temp > 0:  
   digit = temp % 10  
   sum += digit ** 3  
   temp //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong number")

Enter a number: 45
45 is not an Armstrong number

In [5]:
count = 4
def some_method():
    global count
    count = count+1
       print(count)
same_method()

IndentationError: unexpected indent (<ipython-input-5-5b05046d240b>, line 5)

In [5]:
def fab(n):
    a=0
    b=1
    if n ==1:
        print(a)
    else:
        print(a)
        print(b)
    for i in range(2,n):
        c = a+b
        a =b
        b =c
        print(c)

In [6]:
fab(10)

0
1
1
2
3
5
8
13
21
34

In [10]:
x = ["hello","hii","god","hoooo"]
b= enumerate(x)
print(list(b))

[(0, 'hello'), (1, 'hii'), (2, 'god'), (3, 'hoooo')]

In [21]:
num = int(input("enter any number"))
if num > 1:
    for i in range(2,num):
        if (num % i)==0:
            print(num,"its not  prime ")
            break
    else:
            print(num," prime")

enter any number4
4 its not  prime

In [22]:
num = int(input("enter any number"))
for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
        print("not prime")

enter any number4
not prime

In [15]:
num = int(input("enter any no"))
factorial = 1
for i in range(2,num+1):
    factorial = factorial*i
    print(factorial)

enter any no3
2
6

In [12]:
s = input("enter any char ")
reverse= s[::-1]
if s == reverse:
    print("pallidrome no")
    
else:
            print("not pallidrome no")

enter any char 121
pallidrome no

In [85]:
l1 = [1,2,3,4,5]
l2 = [4,5,67,2,3]
l3 = l1+l2
print(l3)

[1, 2, 3, 4, 5, 4, 5, 67, 2, 3]

In [9]:
name = "niranjan","kumar"
print("".join(name))

niranjankumar

In [88]:
def myfun(arg1,arg2,arg3):
    print("arg1",arg1)
    print("arg2",arg2)
    print("arg3",arg3)
    
args = ("geek","for","geek")
myfun(*args)

kwargs = {"arg1":"geek","arg2":"for","arg3":"geek"}
myfun(**kwargs)

arg1 geek
arg2 for
arg3 geek
arg1 geek
arg2 for
arg3 geek

In [89]:
name = "niranjan kumar verma"
name.split()

['niranjan', 'kumar', 'verma']

In [7]:
num =7
if num%2==0:
    print("even no")
else:
        print("odd no")

odd no

In [107]:
def fab(n):
    a = 0
    b= 1
    if n== 1:
        print(a)
    else:
            print(a)
            print(b)
            for i in range(2,n):
                c= a+b
                a = b
                b= c
                print(c)

In [108]:
fab(10)

0
1
1
2
3
5
8
13
21
34

In [3]:
l1 = [1,2,3,4,5]
print(l1[-5])

1

In [125]:
l1 = ["hello",3,"hii",56,78,90,34,"god"]
l1[3]="hello"
print(l1)

['hello', 3, 'hii', 'hello', 78, 90, 34, 'god']

In [142]:
l1 = ["hello",3,"hii",56,78,90,34,"god"] ## zip()
l2 = ["hello",3,"hii",56,78,90,34,"god"]
l3 = tuple(zip(l1,l2))
print(l3)

(('hello', 'hello'), (3, 3), ('hii', 'hii'), (56, 56), (78, 78), (90, 90), (34, 34), ('god', 'god'))

In [4]:
num = "my anme is" ## iterator
for i in num:
    print(i)

m
y

a
n
m
e

i
s

In [147]:
from functools import reduce
l1 = [12,23,45,23]
l2 = reduce(lambda a,b:a+b,l1)
print(l2)

103

In [17]:
import pandas
dict1 = {
    "name":["niranjan"],
    "age":26,
    
}
sd = pandas.DataFrame(dict1)
print(sd)

       name  age
0  niranjan   26

In [157]:
sd.head(1)

       name  age
0  niranjan   26

In [7]:
def fab(n):
    a =0
    b= 1
    if n == 1:
        print(a)
    else:
            print(a)
            print(b)
            for i in range(2,n):
                c = a+b
                a= b
                b = c
                print(c)

In [8]:
fab(10)

0
1
1
2
3
5
8
13
21
34

In [28]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   sum = 0  
   temp = num  
   while temp > 0:  
       digit = temp % 10  
       sum += digit ** 3  
       temp //= 10  
       if num == sum:  
            print(num)

Enter lower range: 100
Enter upper range: 500
125
153
216
370
371
407

In [37]:
#program to check whether the given number is Armstrong or not using a while loop
num = int(input("Enter the number: ")) 
sum = 0 
temp = num 
while (temp > 0): 
    digit = temp % 10 
    sum += digit ** 3 
    temp //= 10
    if (num == sum): 
        print("Armstrong number") 
        
else: 
    print("Not an Armstrong number")

Enter the number: 407
Armstrong number
Not an Armstrong number

In [30]:
def recursion(k):
  if(k > 0):
    result = k + recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [2]:
def fab(n):
    a=0
    b=1
    if n==1:
        print(a)
    else:
            print(a)
            print(b)
            for i in range(2,n):
                c=a+b
                a=b
                b=c
                print(c)

In [3]:
fab(10)

0
1
1
2
3
5
8
13
21
34

In [5]:
fruits = ["apple","mango","banana","cherry"]
newlist = []
for x in fruits:
    if "a" in x:
        newlist.append(x)
        print(newlist)

['apple']
['apple', 'mango']
['apple', 'mango', 'banana']

In [16]:
li= [1,2,3,4,5,67,8,9]
def greater(num):
    return num>5
greater = list(filter(greater,li))
print(greater)

[67, 8, 9]

In [17]:
from functools import reduce
li= [1,2,3,4,5,67,8,9]
lii = reduce(lambda a,b:a+b,li)
print(lii)

99

In [22]:
num = int(input("Enter any value"))
factorial = 1
for i in range(2,num+1):

        factorial = factorial*i
        print(factorial)

Enter any value6
2
6
24
120
720

In [25]:
pal = "121"
reverse = pal[::-1]
if pal==reverse:
    print("palidrome name")
else:
        print("not palidrome")

palidrome name

In [29]:
fruits = ["apple","mango","banana","cherry"]
fruits1 = tuple(enumerate(fruits))
print(fruits1)

((0, 'apple'), (1, 'mango'), (2, 'banana'), (3, 'cherry'))

In [63]:
num =13
for i in range(2,num):
        if num%i==0:
            print("not prime")

        else:
            print("prime")

prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime

In [97]:
n=10
for i in range(1, 11):
    print('* '*(i)) # repeat stars for i times

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [99]:
rows = 10
for i in range(rows):
    for j in range(i):
        # display number
        print('*', end=' ')
        #print('i', end=' ')
    
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [104]:
rows = 10
b=0
for i in range(rows,0,-1):
    b+=1
    for j in range(1,i+1):
        # display number
        print('*', end=' ')
        #print('i', end=' ')
    
    print('')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [103]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [12]:
row = 10
for i in range(row):
    for j in range(i):
        print('*',end =' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [3]:
for i in range(1, 11):
  print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [1]:
for i in range(10, 0, -1):
  print('* ' * i)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
i = 1
length = 11
while i < length:
  print(' ' * (length - i) + '* ' * i )
  i += 1

In [24]:
import pandas
dict1 = {
    "Name":["Niranjan","Mohan","Sohan","Rohan"],
    "Id":[12,23,45,56],
    "Dep":["computer","Data structuer","science","java"]
}
pf = pandas.DataFrame(dict1)
print(pf)

       Name  Id             Dep
0  Niranjan  12        computer
1     Mohan  23  Data structuer
2     Sohan  45         science
3     Rohan  56            java

In [25]:
for i in range(10,0,-1):
    print('# ' * i)

# # # # # # # # # #
# # # # # # # # #
# # # # # # # #
# # # # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#

In [29]:
s = input('Enter your name')
reverse = s[::-1]
if s==reverse:
    print("it is palidrome name")
    
else:
        print("it is not palidrome name")

Enter your namemadam
it is palidrome name

In [33]:
b='niranjan kumar'
b.split()

['niranjan', 'kumar']

In [39]:
def fab(n):
    a=0
    b=1
    if n==0:
        print(a)
    else:
            print(a)
            print(b)
            for i in range(2,n):
                c=a+b
                a=b
                b=c
                
                print(c)

In [40]:
fab(10)

0
1
1
2
3
5
8
13
21
34

In [51]:
class employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
df = employee("niranjan",24)
print(df.name)

niranjan