# Database and DBMS

* ### A database is an organised collection of data. Database arrange information in such a way that any specific piece of information can be easily accessed.

* ### Database Management System is software to store, retrieve, define and manage data in a database.

# Types of Databases:

* ### Centralised Database - Data stored at a centralised location and the users from different locations can access this data. Example: Google, facebook etc.

* ### Distributed Database - Various portions of a database are stored in multiple different locations. It can be replicated and distributed among varous points in a network.

* ### Personal Database - Stored on personal computers which are small and easily manageable.

* ### Operational Database - Information related to operations of an enterprise is stored inside this database. Functional lines like marketing, employee relations, customer service etc.

* ### Relational Database - It represents data sets from multiple tables which are stored different types of information of any things. For example: Facebook Use -> Likes, Comments, Posts.

* ### Cloud Database - A cloud database has been built for such virtualized environment. There are various benefits of cloud databases, some of which are ability to pay for storage capacity and bandwidth (maximum data transfer rate of a network - Mbps) on a per user basis, and they provide scalability on demand, along with high avaialability.

# Design/Structure based database:

* ### SQL - Structure Query Language
* ### NoSQL - Document Based Database

## Difference between SQL and NoSQL
* ### SQL databases use Structure Query Language and have pre-defined schema while NoSQL have no schema.
* ### SQL databases are table based while NoSQL databases are document based data stores data in the form of key-value pair.

# Operations of Databases:
* ### Create 
* ### Retrieve
* ### Update
* ### Delete

# CRUD Queries:
* ### Create Database - create database database_name;
* ### Select Database - use database_name;
* ### Create Table - create table table_name (field_name data_type(size), ..);
* ### Insert Record - insert into table_name (field_name, ...) values (field_value, ...);
* ### Update Record - update table_name set field_name = field_value where condition;
* ### Delete Record - delete from table_name where condition;
* ### Drop Database - drop database database_name;

# Table Operations:
* ### Add New Field - alter table table_name add new_field_name data_type;
* ### Delete Field - alter table table_name drop column field_name;
* ### Modify Field:
> ### 1. SQL Server - alter table table_name alter column field_name data_type;
> ### 2. MySQL - alter table table_name modify column field_name data_type;
> ### 3. Oracle 10G/later - alter table table_name modify field_name data_type;

# Other Basic Queries:
* ### Show all databases - show databases;
* ### Show all tables - show tables;
* ### Show table structure - describe table_name;

# Pre-requesite for Database with python
> ### PyMySQL or mysql-client
> ### 1. mysql-client - pip install mysql-client
> ### 2. pymysql - pip install pymysql
> ### Note: PIP means - package installer for Python.

# Some configurations for mysql
> ### host - localhost
> ### user - root
> ### port - 3306

# Components of Database System
> ### Users- People who interact with the database:
> * ### Application Programmers.
> * ### End Users.
> * ### Data Administrators.

> ### Software- Lies between the stored data and the users:
> * ### DBMS
> * ### Application Software
> * ### User Interface

                              Users
                               ||
                               ||
                    ___________||___________
                   |                        |
### Data ------------| COMPONENTS OF DATABASE |-----------| Software
                   |___________  ___________|
                               ||
                               ||
                               ||
                            Hardware


## Follow the steps to use SQLite3 database:
- ### import sqlite3 as mydb
- ### db = sql.connect("database_name.db")
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### cursor = db.cursor()
- ### cursor.execute(cmd)

## Follow the steps to use MySQL database:
- ### import pymysql as sql
- ### db = sql.connect(host='localhost', port=3306, user='root', password='', database='data')
- ### c = db.cursor()
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### c.execute(cmd)
- ### db.commit()

### Note: A Local Server called MySQL server is required to connect MySQL. Here, we are using XAMPP Server.

# Some Meanings about DB
## What is Cursor()?
> ### A database cursor is a control structure that enables traversal over the records in a database. Cursors facilitate subsequent processing in conjunction with the traversal, such as retrieval, addition and removal of database records.

## What is execute()?
> ### Executes a command string or character string within a Transact-SQL batch, or one of the following modules: system stored procedure, user-defined stored procedure, CLR stored procedure, scalar-valued user-defined function, or extended stored procedure.

## What is Commit()?
> ### A commit is the updating of a record in a database. In the context of a database transaction, a commit refers to the saving of data permanently after a set of tentative changes. A commit ends a transaction within a relational database and allows all other users to see the changes.

In [9]:
# connect sqlite3

import sqlite3 as sql

In [10]:
db = sql.connect("my_python_db.db")

In [11]:
cmd = "create table students(name varchar(20), age int, city varchar(20));"

In [12]:
cmd

'create table students(name varchar(20), age int, city varchar(20));'

In [13]:
cur = db.cursor()

In [14]:
cur.execute(cmd)

In [15]:

cur.fetchall()

[]

In [16]:





db.commit()

In [17]:
cur.fetchall()

[]

In [18]:
cur.execute('select * from students;')

In [19]:
cur.fetchall()

[]

In [20]:
cur.execute('insert into students (name, age, city) values ("neel", 24, "ahmedabad")')

In [21]:
db.commit()

In [22]:
cur.fetchall()

[]

In [23]:
cur.execute('select * from students;')

In [24]:
cur.fetchall()

[('neel', 24, 'ahmedabad')]

In [25]:
cur.execute('update students set age = 23 where name = "neel"')

In [26]:
db.commit()

In [27]:
cur.fetchall()

[]

In [28]:
cur.execute('select * from students;')

In [26]:
cur.fetchall()

[('neel', 23, 'ahmedabad')]

In [29]:
# database with pymysql

import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [36]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\niranjan kumar\appdata\local\programs\python\python39\lib\site-packages (1.0.2)

WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\niranjan kumar\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [37]:
import pymysql as sql

In [38]:
db = sql.connect(host='localhost', port=3306, user='root')

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

In [ ]:
mysql -u root
then create database table